<H1>Welcome</H1>
<section>
    <button mat-button>Button</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
</section>

<section>
    <button mat-raised-button>Button</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
</section>


<mat-toolbar color="primary">
    <span> Angular Material App With Tab and Routing </span>
    <span class="example-fill-remaining-space"></span>  
</mat-toolbar> 

<mat-tab-group>
    <mat-tab label="Test"> Test </mat-tab>
    <mat-tab label="Test1"> Test1 </mat-tab>
    <mat-tab label="Test2"> Test2 </mat-tab>
    <mat-tab label="Test3"> Test3 </mat-tab>
</mat-tab-group>

<nav mat-tab-nav-bar >
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{ link.label }}
</a>
</nav>
    <router-outlet></router-outlet>